table {
  margin: auto;
}
tr {
  text-align: center;
}
td,
table,
tr,
th {
  margin: 0;
  padding: 0;

  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 10px;
}

input {
  border: none;
}

.btn {
  background-color: rgba(0, 0, 0, 0.722);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 60px;
}

.btn:hover {
  background-color: black;
}
